@import "utilities/variables";
@import "utilities/maps";
@import "utilities/mixin";
@import "utilities/extend";

.bgComercios{
        margin-top: 5rem;
        margin-bottom: 3rem;
        
    h1{
        @extend %textosGenerales;
        font-weight: bold;
        font-size: 2.5rem;
        text-align: center;
    }
}
.contenedorComercios{
        display: grid;
        grid-template-areas: "tecnicaGuir tecnicaNeon tecnicaLuminaria";
        font-size: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
        justify-items: space-between;
        .parrafo{
            text-align: center;
            margin-left: 1rem;
            margin-right: 1rem;
            width: auto;
            h2{
                font-size: 1.3rem;
                @extend %textosGenerales;
                font-weight: bold;
                font-size: 1.7rem;
                margin-top: 4rem;
            }
            p{
                @extend %textosGenerales;
                margin-top: 2rem;
            }
        }    
    }


.tecnicaGuir{
    grid-area: tecnicaGuir;
}
.tecnicaNeon{
    grid-area: tecnicaNeon;
}
.tecnicaLuminarias{
    grid-area: tecnicaLuminarias;
}



