@import "utilities/variables";
@import "utilities/maps";
@import "utilities/mixin";
@import "utilities/extend";

//estilos html contacto
.mainContacto{
    div h1{
        @extend %textosGenerales;
        font-size: 2rem;
        text-align: center;
    }
    form{
        color: white;
    }
    .nameForm{
        width: 100%; 
    }
    .mailForm{
        width: 100%;
    }
    .ingresoConsulta{
        width: 100%;
    }
    .btn{
        width: 30%;
        background-color: $color-secundario;
        font-weight: bold;
        text-shadow: $sombra-principal-textos;
    }   
    .medioContacto{
        margin-top: 2.5rem;
        text-align: end;
        border-radius: 7px;
        
    }
}