/* media queries mobile INDEX */
@media screen and (max-width: 800px){
   
    .logo{
        display: none;
    }
    .presentacion{
        display: flex;
        font-size: 1.3rem;
        font-weight: bold;
        width: 50%;
    }
    .main__img{
        display: flex;
        flex-direction: row;
        width: 50%;
    }
    .lorem p{
        display: flex;
        font-size: 1.3rem;
        width: 50%;
    }
    .footer{
        display: flex;
        flex-direction: row;
        align-content: center;
        
    }
    
    .ContentRedes{
        display: flex;
    }
} 

/* estilos HTML PRODUCTOS */
@media screen and (min-width: 1024px){
    .mainProductos{
        display: grid;
        grid-template-areas: "prodGuir prodGuir prodGuir"
                             "guirVintage guirLed guirPera"
                             "prodNeon prodNeon prodNeon"
                             "neonTigre neonEmoji neonHelado";
    }

    .prodGuir{
        grid-area: prodGuir;
    }
    .guirVintage{
        grid-area: guirVintage;
    }
    .guirLed{
        grid-area: guirLed;
    }
    .guirPera{
        grid-area: guirPera;
    }

    .prodNeon{
        grid-area: prodNeon;
    }

}

/* estilos HTML INFOMRACION TECNICA */

@media screen and (min-width: 1024px){
    .mainInfoTecnica{
        display: grid;
        grid-template-areas: "tecnicaGuir tecnicaNeon tecnicaLuminaria";
    }
}