//mixin sin parametros

@mixin logosRedes{
    height:35px;
    transition: 0.4s;
}

//mixin con parametros

@mixin medidasEtiquetas($width, $height){
    width: $width;
    height: $heigth;
}

//mixin transformaciones

@mixin transformacionRedes($transform){
    transform: $transform;
    -webkit-transform: $transform;
    -o-transform: $transform;
    -moz-transform: $transform;

}

@mixin bgGeneral{
    margin-right: 2rem;
    margin-left: 2rem;
}