@import "utilities/variables";
@import "utilities/maps";
@import "utilities/mixin";
@import "utilities/extend";

/* estilos HTML NOSOTROS */

.contenedorNosotros{
    main{
        grid-area: titulo;
        margin: 3rem;
        text-align: center;
        h1{
            margin-bottom: 2rem;
            @extend %textosGenerales;
        }
        .parrafoNosotros{
            margin-top: 2rem;
            @extend %textosGenerales;
            font-size: 1.3rem;
        }
    }
    section{
        grid-area: section;
        .accordion-flush{
            margin: 2.5rem;
            .accordion-item{
                background-color: map-get($map: $botones-menu, $key: color-standar);
                border-radius: map-get($map: $botones-menu, $key: border-radius);
                @extend %textosGenerales;
                .accordion-button{
                    background-color: map-get($map: $botones-menu, $key: color-standar);
                    @extend %textosGenerales;
                    text-shadow:$sombra-principal-textos;
                    font-weight: bold;
                }
            }
        }
    }

    //estilos fotos nosotros
    .tituloTrabajos{
        grid-area: p;
        margin: 2em;
        @extend %textosGenerales;
    }
    .nomicom{
        grid-area: nomicom;
        display: flex;
        width: 100%;
    }
    .jordan{
        grid-area: jordan;
        display: flex;
        width: 100%;
    }
    .hamburguesa{
        grid-area: hamburguesa;
        display: flex;
        width: 100%;
    }
}