@import "utilities/variables";
@import "utilities/maps";
@import "utilities/mixin";
@import "utilities/extend";

/*estilos productos*/
.productosAll{
        margin-top: 3rem;
       .card-body{
                .card-title{
                        font-size: 1.4rem;
                        margin-top: 1rem;
                        font-weight: bold;
                        @extend %tarjetasProductos;
                        }
                .card-text{
                        margin-top: 0.5rem;
                        @extend %tarjetasProductos;
                        }
                .botonComprar1{
                        text-decoration-line: none;
                        font-size: 1.5rem;
                        font-weight: bold;
                        @extend %tarjetasProductos;   
                }
                .botonComprar1:hover{
                        color: yellow;  
                }
        }
}

/*transformaciones productos*/
.card-img-top1 img:hover{
        @include transformacionRedes (scale(1.20));
        position: relative;
        z-index: 1;
        box-shadow: $sombra-principal-textos;     
}


